.container {
    background-color: rgba(118, 138, 125, 0.918);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100pc;
    border: 10px solid rgb(25,21,26);
    padding: 50px;
    margin: 20px;
    
}

img {
    height: 350px;
    width: 500px;
}